@use '@angular/material' as mat;

.form {
  @include mat.form-field-overrides((filled-container-color: white,
      filled-container-shape: 10px));

}

.image-container {
  width: 24px;
  /* Taille du cercle */
  height: 24px;
  border-radius: 50%;
  /* Rend l'image circulaire */
  overflow: hidden;
  /* Cache les bords dépassants */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  /* Bordure optionnelle */
}

.image-container img {
  width: 100%;
  /* Ajuste l'image à la taille du conteneur */
  height: 100%;
  object-fit: cover;
  /* Coupe l'image pour remplir le cercle */
}

.mat-mdc-button {
  background-color: white;
  color: darkslategrey;
}