@use '@angular/material' as mat;

.image-container {
  width: 24px;
  /* Taille du cercle */
  height: 24px;
  border-radius: 50%;
  /* Rend l'image circulaire */
  overflow: hidden;
  /* Cache les bords dépassants */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  /* Bordure optionnelle */
}

.image-container img {
  width: 100%;
  /* Ajuste l'image à la taille du conteneur */
  height: 100%;
  object-fit: cover;
  /* Coupe l'image pour remplir le cercle */
}

.mat-mdc-button {
  background-color: #555555;
  color: white;
}

.mat-mdc-button:hover {
  background-color: #444444;
}