.image-container {
  width: 24px;
  /* Taille du cercle */
  height: 24px;
  border-radius: 50%;
  /* Rend l'image circulaire */
  overflow: hidden;
  /* Cache les bords dépassants */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #333;
  /* Bordure optionnelle */
}

.image-container img {
  width: 100%;
  /* Ajuste l'image à la taille du conteneur */
  height: 100%;
  object-fit: cover;
  /* Coupe l'image pour remplir le cercle */
}

.large-icon {
  font-size: 32px;
  /* ou toute taille en px/rem/em */
  width: 32px;
  height: 32px;
  line-height: 1;
}

.mat-mdc-button {
  color: black !important;
  border: 1px solid black;
  background-color: #f9f9f9;

  &:hover {
    color: white !important;
    background-color: rgb(39, 39, 41);
  }
}