.file-chooser {
  .opener:hover {
    background-color: gainsboro !important;
  }

  .opener {
    width: 100%;
    border-radius: 5px 5px 0 0 !important;
    border-bottom: 1px solid black !important;
    background-color: white !important;
    color: rgb(68, 71, 78) !important;
    height: 56px;
    justify-content: left;
  }

  ::ng-deep .mdc-button__label {
    width: 100% !important;
  }

  .button-label {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .mat-mdc-icon-button:hover {
    background-color: lightgrey;
  }

  .filename {
    align-items: center;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}