<div class="file-chooser items-baseline h-full w-full">
  <input type="file" [accept]="accept()" #fileInput formControlName="posterFileName" (change)="onFileChanged($event)"
    hidden>
  <button mat-flat-button class="opener dark:!text-pmdb-white dark:!bg-pmdb-grey" (click)="fileInput.click()">
    @if (!control.value) {
    {{'app.choose_file' | translate}}
    } @else {
    <div class="button-label">
      <span class="filename">{{ control.value }}</span>
      <button mat-icon-button class="mx-2 !flex dark:hover:!bg-pmdb-dark" [matTooltip]="'app.delete' | translate"
        aria-label="Example icon button with a vertical three dot icon"
        (click)="deleteFile(); $event.stopPropagation()">
        <mat-icon class="dark:!text-pmdb-white">close</mat-icon>
      </button>
    </div>
    }
  </button>
</div>