@let movies = movies$ | async;

<div class="flex flex-col h-full">
  <div class="flex flex-row justify-between items-center mb-3">
    <div>
      <h2 [hidden]="total < 1" class="self-end">{{total}} films</h2>
    </div>
    <app-toolbar [countries$]="movieService.getCountries"
      [criterias]="['releaseDate', 'genres', 'countries', 'users', 'creationDate', 'lastUpdate']"
      [sorts]="sorts$ | async" [selectedCriterias]="searchConfig$?.value?.criterias" cookieName="movies-config"
      (search)="onSearch($event)" (filter)="onFilter($event)" (switchView)="onSwitchView($event)"
      (sort)="onSort($event)">
    </app-toolbar>
  </div>

  @if (searchConfig$?.value?.criterias?.genres?.length || searchConfig$?.value?.criterias?.countries?.length ||
  searchConfig$?.value?.criterias?.users?.length) {
  <app-criterias-reminder [criterias]="searchConfig$.value.criterias" (deleteGenre)="onDeleteGenre($event)"
    (deleteCountry)="onDeleteCountry($event)" (deleteUser)="onDeleteUser($event)">
  </app-criterias-reminder>
  }

  @if (searchConfig$.value.view == view.CARDS) {
  <div #scrollContainer class="grow overflow-y-auto" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <app-movies-list [movies]="movies"></app-movies-list>
  </div>
  } @else {
  <div class="grow max-h-fit overflow-y-auto rounded-t-lg">
    <app-movies-table [dataSource]="movies" [sortActive]="searchConfig$.value.sort"
      [sortDirection]="searchConfig$.value.direction" (sort)="onSort($event)">
    </app-movies-table>
  </div>
  @if (movies?.length) {
  <mat-paginator #paginator class="rounded-b-lg" [pageSizeOptions]="pageSizeOptions" [length]="total"
    [pageSize]="searchConfig$.value.size" [showFirstLastButtons]="true" (page)="onPageChange($event)"
    aria-label="Select page of Movie search results">
  </mat-paginator>
  }
  }
</div>