@let movies = movies$ | async;

<div class="h-full">
  <div class="flex flex-row justify-between items-center">
    <h2 class="section-title">Films ({{total}})</h2>
    <mat-form-field class="search-bar md:w-1/3">
      <mat-label>Films</mat-label>
      <input appDelayedInput matInput [value]="searchConfig$.value.term" placeholder="Rechercher..."
        (delayedInput)="onSearch($event)" />
      @if (searchConfig$.value.term) {
      <button matSuffix mat-icon-button aria-label="Clear" matTooltip="Effacer" (click)="clearSearch()">
        <mat-icon>close</mat-icon>
      </button>
      }
    </mat-form-field>
    <div>
      @if (movies?.length) {
      <div class="flex justify-end">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Tableau">
          <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
          <mat-icon class="material-symbols-outlined">image</mat-icon>
        </button>
        <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
          <mat-icon>sort</mat-icon>
        </button>
      </div>
      }
    </div>
  </div>
  @if (view == 'cards') {
  <div class="movies-container" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <app-movies-list [movies]="movies"></app-movies-list>
  </div>
  } @else {
  <div>
    <div class="example-table-container">

      <table mat-table [dataSource]="data" class="example-table" matSort matSortActive="title" matSortDisableClear
        matSortDirection="desc">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Titre</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <!-- Original title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title original</th>
          <td mat-cell *matCellDef="let row">{{row.originalTitle}}</td>
        </ng-container>

        <!-- Release date Column -->
        <ng-container matColumnDef="releaseDate">
          <th mat-header-cell *matHeaderCellDef>Date de sortie</th>
          <td mat-cell *matCellDef="let row">{{row.releaseDate | date: 'dd/MM/yyyy'}}</td>
        </ng-container>

        <!-- Running time Column -->
        <ng-container matColumnDef="runningTime">
          <th mat-header-cell *matHeaderCellDef>Durée</th>
          <td mat-cell *matCellDef="let row">{{row.duration}}</td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="budget">
          <th mat-header-cell *matHeaderCellDef>Budget</th>
          <td mat-cell *matCellDef="let row">{{row.budget}}</td>
        </ng-container>

        <!-- Box-Office Column -->
        <ng-container matColumnDef="boxOffice">
          <th mat-header-cell *matHeaderCellDef>Box-office</th>
          <td mat-cell *matCellDef="let row">{{row.boxOffice}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <mat-paginator [length]="resultsLength" [pageSize]="50" aria-label="Select page of Movie search results">
    </mat-paginator>
  </div>
  }
</div>