.movies-container {
  overflow-y: auto;
  height: calc(100% - 76px);
}

.table-container {
  overflow-y: auto;
  max-height: calc(100% - 132px);
}

.mat-mdc-paginator {
  border-top: 1px solid;
  border-bottom: 1px solid;
}