@let movies = movies$ | async;

<div class="h-full">
  <div class="flex flex-row justify-between items-center">
    <h2></h2>
    <app-input class="md:w-1/3" label="Films" [total]="total" (change)="onSearch($event)">
    </app-input>
    <app-toolbar [sorts]="sorts$ | async" (switchView)="onSwitchView($event)" (sort)="onSort($event)"></app-toolbar>
  </div>

  @if (searchConfig$.value.view == view.CARDS) {
  <div class="h-[calc(100%-76px)] overflow-y-auto" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <app-movies-list [movies]="movies"></app-movies-list>
  </div>
  } @else {
  <div class="max-h-[calc(100%-132px)] overflow-y-auto">
    <app-movies-table [dataSource]="movies" [sortActive]="searchConfig$.value.sort"
      [sortDirection]="searchConfig$.value.direction" (sort)="onSort($event)">
    </app-movies-table>
  </div>
  @if (movies.length) {
  <mat-paginator #paginator [pageSizeOptions]="pageSizeOptions" [length]="total" [pageSize]="searchConfig$.value.size"
    (page)="onPageChange($event)" aria-label="Select page of Movie search results">
  </mat-paginator>
  }
  }
</div>