<h2 mat-dialog-title class="dark:bg-black dark:!text-pmdb-white text-center">{{ data.title }}</h2>
<mat-dialog-content class="dark:bg-black dark:!text-pmdb-white !py-4 !text-xl" [innerHTML]="data.message">
</mat-dialog-content>
<mat-dialog-actions class="dark:bg-black">
  <div class="flex items-center justify-end gap-4">
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" mat-dialog-close>
      {{'app.cancel' | translate}}
    </a>
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" [mat-dialog-close]="true">
      {{'app.confirm' | translate}}
    </a>
  </div>
</mat-dialog-actions>