{{currentGenre()}}
<mat-form-field class="w-full">
  <mat-label>Genres</mat-label>
  <mat-chip-grid #genresChipGrid aria-label="Genre selection" [formControl]="control">
    @for (genre of selectedGenres(); track genre) {
    <mat-chip-row (removed)="remove(genre)" [value]="genre">
      {{genre?.name}}
      <button matChipRemove [attr.aria-label]="'remove ' + genre?.name">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
    <input placeholder="Ajouter..." [(ngModel)]="currentGenre" [matChipInputFor]="genresChipGrid"
      [matAutocomplete]="autoGenres" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" [ngModelOptions]="{standalone: true}" />
  </mat-chip-grid>
  <mat-autocomplete #autoGenres="matAutocomplete" (optionSelected)="selected($event)">
    @for (genre of filteredGenres() | orderBy: 'name'; track genre) {
    <mat-option [value]="genre">{{genre?.name}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>