<div class="grid dark:text-white gap-1">
  @for (movieActor of enrichedActors(); track movieActor.id) {
  <div class="grid grid-cols-12 text-xl">
    <div class="col-span-4 flex">
      <span class="image-container">
        <img mat-card-image [src]="movieActor.photoUrl$ | async" alt="{{ movieActor.actor.photoFileName }}">
      </span>
      <span class="font-bold cursor-pointer hover:underline" [routerLink]="['/persons', movieActor?.actor?.id]">
        {{movieActor?.actor?.name}}
      </span>
    </div>
    <span class="col-span-8">{{movieActor?.role}}</span>
  </div>
  } @empty {
  <div class="text-xl">{{'app.no_actors' | translate}}</div>
  }
</div>