<table mat-table class="rounded-t-lg dark:text-white" [dataSource]="dataSource()" matSort [matSortActive]="sortActive"
  matSortDisableClear [matSortDirection]="sortDirection" (matSortChange)="onSort($event)">

  <!-- Role Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.role' | translate}}</th>
    <td mat-cell *matCellDef="let row">{{row?.role}}</td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="movie.title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.title' | translate}}</th>
    <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
      <span class="cursor-pointer hover:underline" [routerLink]="['/movies', row.movie.id]">{{row?.movie?.title}}</span>
    </td>
  </ng-container>

  <!-- Original title Column -->
  <ng-container matColumnDef="movie.originalTitle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.original_title' | translate}}</th>
    <td mat-cell class="whitespace-nowrap" *matCellDef="let row">{{row?.movie?.originalTitle}}</td>
  </ng-container>

  <!-- Release date Column -->
  <ng-container matColumnDef="movie.releaseDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.release_date' | translate}}</th>
    <td mat-cell *matCellDef="let row">{{row?.movie?.releaseDate | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <tr mat-header-row class="bg-pmdb-white! dark:bg-pmdb-dark! dark:!text-white"
    *matHeaderRowDef="displayedColumns; sticky: true">
  </tr>
  <tr mat-row class="dark:!text-white" *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-center dark:text-white p-4" [attr.colspan]="displayedColumns.length">
      {{'app.no_roles' | translate}}
    </td>
  </tr>
</table>