<div class="h-full">
  <div class="flex items-center justify-between">
    <button mat-button routerLink="/countries">Retour à la liste des pays</button>
    <h2 class="my-4 text-3xl">{{countryName}}</h2>
    <div></div>
  </div>

  <!-- Données asociées -->
  <mat-tab-group (selectedTabChange)="onTabChanged($event)" class="h-[calc(100%-68px)]">
    <mat-tab label="Films">
      <div class="flex items-center justify-between mt-4">
        <h2></h2>
        <mat-form-field class="md:w-1/3">
          <mat-label>Films ({{totalFilms}})</mat-label>
          <input appDelayedInput matInput [value]="searchMoviesConfig$.value.term" placeholder="Rechercher..."
            (delayedInput)="onSearch(searchMoviesConfig$, $event)" />
          @if (searchMoviesConfig$.value.term) {
          <button matSuffix mat-icon-button aria-label="Clear" matTooltip="Effacer"
            (click)="clearSearch(searchMoviesConfig$)">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        <div class="flex justify-end">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Tableau">
            <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
            <mat-icon class="material-symbols-outlined">image</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
            <mat-icon>sort</mat-icon>
          </button>
        </div>
      </div>
      <div class="h-[calc(100%-92px)] overflow-y-auto" infiniteScroll [scrollWindow]="false"
        (scrolled)="onScroll(searchMoviesConfig$)">
        <app-movies-list [movies]="movies$ | async"></app-movies-list>
      </div>
    </mat-tab>
    @for (tab of personTabs; track tab.label) {
    <mat-tab [label]="tab.label">
      <div class="flex items-center justify-between mt-4">
        <h2></h2>
        <mat-form-field class="md:w-1/3">
          <mat-label>{{tab?.label}} ({{tab?.total$ | async}})</mat-label>
          <input appDelayedInput matInput [value]="tab?.config$.value.term" placeholder="Rechercher..."
            (delayedInput)="onSearch(tab?.config$, $event)" />
          @if (tab?.config$.value.term) {
          <button matSuffix mat-icon-button aria-label="Clear" matTooltip="Effacer" (click)="clearSearch(tab?.config$)">
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
        <div class="flex justify-end">
          <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Tableau">
            <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
            <mat-icon class="material-symbols-outlined">image</mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
            <mat-icon>sort</mat-icon>
          </button>
        </div>
      </div>
      <div class="h-[calc(100%-92px)] overflow-y-auto" infiniteScroll [scrollWindow]="false"
        (scrolled)="onScroll(tab?.config$)">
        <app-persons-list [persons]="tab?.data$ | async" [service]="tab?.service">
        </app-persons-list>
      </div>
    </mat-tab>
    }
  </mat-tab-group>
</div>