<mat-card class="country-card cursor-pointer" [routerLink]="['/countries', country().id]"
  [state]="{name: country()?.nomFrFr}">
  <mat-card-header>
    <mat-card-title>{{ country().nomFrFr }}</mat-card-title>
    <mat-card-subtitle>{{ country().nomEnGb }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]=" country().flag" alt="Drapeau de {{ country().nomFrFr }}">

  <mat-card-content>
    <p>Code Alpha-2 : {{ country().alpha2 }}</p>
    <p>Code Numérique : {{ country().code }}</p>
  </mat-card-content>
</mat-card>