<button mat-button routerLink="../">Retour</button>

<mat-tab-group>
  @if(form) {
  <div [formGroup]="form">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">movie</mat-icon>
        Infos générales
      </ng-template>

      <div class="py-4">
        @if (!editGeneralInfos) {
        <div class="grid gap-4">
          <p>TITRE : {{title}}</p>
          <p>TITRE ORIGINAL : {{originalTitle}}</p>
          <p>SYNOPSIS : {{synopsis}}</p>
          <p>DATE DE SORTIE : {{releaseDate | date: 'dd/MM/yyyy'}}</p>
          <p>DURÉE : {{runningTime}} @if(runningTime) {minutes}</p>
          <p>BUDGET : {{budget}} @if(budget) {$}</p>
          <p>BOX-OFFICE : {{boxOffice}} @if(boxOffice) {$}</p>
          <p>GENRES : {{(genres | orderBy: 'name' | pluck: 'name')?.join(', ')}}</p>
          <p>PAYS : {{(countries | orderBy: 'nomFrFr' | pluck: 'nomFrFr')?.join(', ')}}</p>
        </div>

        <button mat-fab class="float-right m-1" matTooltip="Modifier"
          aria-label="Example icon button with a delete icon" color="accent" (click)="editGeneralInfos=true">
          <mat-icon>edit</mat-icon>
        </button>
        } @else {
        <app-general-infos-form formGroupName="generalFormGroup"></app-general-infos-form>
        <button mat-fab class="float-right m-1" matTooltip="Valider" aria-label="Example icon button with a delete icon"
          color="accent" (click)="saveGeneralInfos()">
          <mat-icon>check</mat-icon>
        </button>
        }
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">group</mat-icon>
        Fiche technique
      </ng-template>

      <div class="py-4">
        @if (!editTechnicalSummary) {
        <div class="grid gap-4">
          <p>PRODUCTEURS : {{(producers | pluck: 'name' | orderBy)?.join(', ') }}</p>
          <p>RÉALISATEURS : {{(directors | pluck: 'name')?.join(', ') }}</p>
          <p>SCÉNARISTES : {{(screenwriters | pluck: 'name')?.join(', ') }}</p>
          <p>MUSIQUE : {{(musicians | pluck: 'name')?.join(', ') }}</p>
          <p>PHOTOGRAPHIE : {{(photographers | pluck: 'name')?.join(', ') }}</p>
          <p>COSTUMES : {{(costumiers | pluck: 'name')?.join(', ') }}</p>
          <p>DÉCORS : {{(decorators | pluck: 'name')?.join(', ') }}</p>
          <p>MONTAGE : {{(editors | pluck: 'name')?.join(', ') }}</p>
          <p>CASTING : {{(casters | pluck: 'name')?.join(', ') }}</p>
        </div>

        <button mat-fab class="float-right m-1" matTooltip="Modifier"
          aria-label="Example icon button with a delete icon" color="accent" (click)="editTechnicalSummary=true">
          <mat-icon>edit</mat-icon>
        </button>
        } @else {
        <app-technical-summary-form formGroupName="technicalSummaryFormGroup"></app-technical-summary-form>
        <button mat-fab class="float-right m-1" matTooltip="Valider" aria-label="Example icon button with a delete icon"
          color="accent" (click)="saveTechnicalSummary()">
          <mat-icon>check</mat-icon>
        </button>
        }
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">theater_comedy</mat-icon>
        Casting
      </ng-template>

      <div></div>
    </mat-tab>
  </div>
  }
</mat-tab-group>

<!-- <ng-template #personTemplate let-persons="persons">
  {{(persons | pluck: 'name')?.join(', ') }}
</ng-template> -->