<button mat-button routerLink="../">Retour</button>

@let movie = movie$ | async;

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">info</mat-icon>
      Infos générales
    </ng-template>

    <form (ngSubmit)="submitGeneralInfos($event)">
      <div class="py-2">
        <p class="title">TITRE: {{movie?.generalInfos?.title}}</p> <mat-icon class="hide">edit</mat-icon>
        <p>TITRE ORIGINAL: {{movie?.generalInfos?.originalTitle}}</p>
        <p>SYNOPSIS: {{movie?.generalInfos?.synopsis}}</p>
        <p>DATE DE SORTIE: {{movie?.generalInfos?.releaseDate | date: 'dd/MM/yyyy'}}</p>
        <p>DURÉE: {{movie?.generalInfos?.runningTime}} minutes</p>
        <p>BUDGET: {{movie?.generalInfos?.budget}} millions $</p>
        <p>BOX-OFFICE: {{movie?.generalInfos?.boxOffice}} $</p>
        <p>GENRES: {{movie?.genres}}</p>
        <p>PAYS: {{movie?.countries}}</p>
      </div>

      <div>
        <button type="submit" mat-flat-button>Disabled</button>
      </div>
    </form>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">thumb_up</mat-icon>
      Fiche technique
    </ng-template>

    <div class="py-2">
      <p>PRODUCTEURS: {{movie?.producers}}</p>
      <p>RÉALISATEURS: {{movie?.directors}}</p>
      <p>SCÉNARISTES: {{movie?.screenwriters}}</p>
      <p>MUSIQUE: {{movie?.musicians}}</p>
      <p>PHOTOGRAPHIE: {{movie?.photographers}}</p>
      <p>COSTUMES: {{movie?.costumiers}}</p>
      <p>DÉCORS: {{movie?.decorators}}</p>
      <p>MONTAGE: {{movie?.editors}}</p>
    </div>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="tab-icon">thumb_up</mat-icon>
      Casting
    </ng-template>

    <div></div>
  </mat-tab>
</mat-tab-group>
}