.mat-mdc-form-field {
  ::ng-deep {

    .mat-mdc-text-field-wrapper {
      height: 40px;

      .mat-mdc-form-field-flex {
        height: 100%;

        .mat-mdc-form-field-infix {
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }
    }

    .mat-mdc-form-field-subscript-wrapper {
      height: 0 !important;
    }
  }
}

.small-icon {
  font-size: 16px;
  width: 16px;
  height: 16px;
  line-height: 1;
}