img {
  height: 300px;
}

.file-upload {
  ::ng-deep button {
    border-radius: 5px !important;
    background-color: rgb(224, 226, 236) !important;
    color: rgb(68, 71, 78) !important;
    height: 56px !important;
    justify-content: left;
  }

  .button-label {
    justify-content: space-between;
    display: flex;
    width: 100%;
  }

  .filename {
    align-items: center;
    display: flex;
  }
}