<div class="flex flex-col h-full gap-4">
  <button mat-button class="w-fit" routerLink="../">Retour à la liste</button>

  @if (!editMode) {
  @if (person()) {
  <div>
    <app-person-detail [person]="person()" [service]="service" (edit)="editMode = !editMode" (delete)="deletePerson()">
    </app-person-detail>

    <div class="overflow-y-auto mt-4">
      <div class="flex flex-row justify-between items-center">
        <h2></h2>
        <app-input class="md:w-1/3" label="Films" [total]="total" (change)="onSearch($event)">
        </app-input>
        <div>
          <div class="flex justify-end">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon"
              matTooltip="Tableau">
              <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
              <mat-icon class="material-symbols-outlined">image</mat-icon>
            </button>
            <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
              <mat-icon>sort</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <!-- Films associés -->
      <div class="movies-container" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
        (scrolled)="onScroll()">
        <app-movies-list [movies]="person()?.movies"></app-movies-list>
      </div>
    </div>
  </div>
  }
  } @else {
  <div class="w-full">
    <div class="flex justify-center p-2">
      <app-person-form class="md:w-2/3" [form]="form" (changeImage)="onChangeImage($event)"></app-person-form>
    </div>
    <div class="fixed bottom-5 right-5">
      <button mat-fab class="float-right m-1" matTooltip="Valider" aria-label="Example icon button with a delete icon"
        color="accent" [disabled]="form.invalid" (click)="save()">
        <mat-icon>check</mat-icon>
      </button>
      <button mat-fab class="float-right m-1" matTooltip="Annuler" aria-label="Example icon button with a delete icon"
        color="accent" (click)="cancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  }
</div>