<div class="flex flex-col h-full">
  <button mat-button class="w-fit" routerLink="../">Retour à la liste</button>
  <div class="flex flex-row h-1/2 mb-4">
    <img mat-card-image [src]="getSafePhotoUrl()" alt="{{ person()?.photoFileName }}" width="220">
    <div class="ml-4 w-1/2">
      @if (!editMode){
      <h1 class="text-2xl">{{person()?.name}}</h1>
      @if (person()?.dateOfBirth) {
      <p>Né le {{person()?.dateOfBirth | date: 'dd/MM/yyyy'}} @if(!person()?.dateOfDeath) {({{age()}} ans)}</p>
      }
      @if (person()?.dateOfDeath) {
      <p>Décédé le {{person()?.dateOfDeath | date: 'dd/MM/yyyy'}} ({{ageOfDeath()}} ans)</p>
      }
      @if (person()?.countries?.length) {
      <p>Nationalité(s) :
        @for(country of person().countries | orderBy: 'nomFrFr'; track country.id) {
        <a mat-button [routerLink]="['/countries', country.id]">{{country?.nomFrFr}}</a>
        }
      </p>
      }
      } @else {
      <form [formGroup]="form">
        <div class="grid grid-cols-12 gap-1">
          <mat-form-field class="col-span-12">
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="name" required>
            @if (form.get('name').hasError('required')) {
            <mat-error>Le nom est requis</mat-error>
            }
          </mat-form-field>
          <div class="grid grid-cols-12 gap-x-2 col-span-12">
            <mat-form-field class="col-span-6">
              <mat-label>Date de naissance</mat-label>
              <input matInput [matDatepicker]="birthPicker" placeholder="JJ/MM/YYYY" formControlName="dateOfBirth">
              <mat-datepicker-toggle matIconSuffix [for]="birthPicker"></mat-datepicker-toggle>
              <mat-datepicker #birthPicker></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="col-span-6">
              <mat-label>Date de décès</mat-label>
              <input matInput [matDatepicker]="deathPicker" placeholder="JJ/MM/YYYY" formControlName="dateOfDeath">
              <mat-datepicker-toggle matIconSuffix [for]="deathPicker"></mat-datepicker-toggle>
              <mat-datepicker #deathPicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="file-upload items-baseline col-span-12 mb-4">
            <input type="file" accept=".jpg,.jpeg,.png" #fileInput formControlName="photoFileName"
              (change)="onFileChange($event)" hidden>
            <button mat-flat-button class="w-full" (click)="fileInput.click()">
              @if (!photoFormCtrl.value) {
              Choisir un fichier
              } @else {
              <div class="button-label">
                <span class="filename">{{ photoFormCtrl.value }}</span>
                <button mat-icon-button matTooltip="Supprimer"
                  aria-label="Example icon button with a vertical three dot icon"
                  (click)="deleteFile(); $event.stopPropagation()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              }
            </button>
          </div>
          <app-country-selector class="col-span-12" formGroupName="countries">
          </app-country-selector>
        </div>
      </form>
      }
    </div>
  </div>

  <!-- Films associés -->
  <app-movies-list title="Films associés" [movies]="person()?.movies"></app-movies-list>

  <div class="fixed bottom-5 right-5">
    @if(!editMode){
    <button mat-fab class="float-right m-1" matTooltip="Supprimer" aria-label="Example icon button with a delete icon"
      color="accent" (click)="delete()">
      <mat-icon>clear</mat-icon>
    </button>
    <button mat-fab class="float-right m-1" matTooltip="Modifier" aria-label="Example icon button with a delete icon"
      color="warn" (click)="editMode = !editMode">
      <mat-icon>edit</mat-icon>
    </button>
    } @else {
    <button mat-fab class="float-right m-1" matTooltip="Valider" aria-label="Example icon button with a delete icon"
      color="accent" [disabled]="form.invalid" (click)="save()">
      <mat-icon>check</mat-icon>
    </button>
    <button mat-fab class="float-right m-1" matTooltip="Annuler" aria-label="Example icon button with a delete icon"
      color="accent" (click)="cancel()">
      <mat-icon>cancel</mat-icon>
    </button>
    }
  </div>
</div>