<mat-stepper class="rounded-lg mb-2" [linear]="isLinear" (selectionChange)="onStepChange($event)" #stepper>

  <mat-step class="mb-2" [stepControl]="generalInfosForm" [label]="'app.general_infos' | translate">
    @if (currentStep == 0) {
    <app-general-infos-form [form]="generalInfosForm" (selectImage)="selectImage($event)">
    </app-general-infos-form>
    <button mat-button class="mt-4" (click)="saveMovie()">{{'app.next' | translate}}</button>
    }
  </mat-step>
  <mat-step [stepControl]="technicalTeamForm" [label]="'app.technical_team' | translate">
    @if (currentStep == 1) {
    <app-technical-team-form [form]="technicalTeamForm"></app-technical-team-form>
    <button mat-button (click)="saveTechnicalTeam()">{{'app.next' | translate}}</button>
    }
  </mat-step>
  <mat-step [stepControl]="castingForm" [label]="'app.casting' | translate">
    @if (currentStep == 2) {
    <app-casting-form [form]="castingForm"></app-casting-form>
    <button mat-button class="mt-2" (click)="saveCasting()">{{'app.next' | translate}}</button>
    }
  </mat-step>
  <mat-step [stepControl]="awardsForm" [label]="'app.awards' | translate">
    @if (currentStep == 3) {
    <app-awards-form [movieId]="movie.id" [form]="awardsForm"></app-awards-form>
    <button mat-button (click)="saveAwards()">{{'app.next' | translate}}</button>
    }
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>{{'app.done' | translate}}</ng-template>
    <p class="mb-2">{{'app.done' | translate}}</p>
    <div>
      <button mat-button class="mr-2" matStepperPrevious>{{'app.back' | translate}}</button>
      <button mat-button color="warn" (click)="stepper.reset()">{{'app.create_another_movie' | translate}}</button>
    </div>
  </mat-step>
</mat-stepper>