<div class="flex flex-col gap-4 text-xl dark:text-white">
  @if (technicalTeam?.directors?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.directors', persons: technicalTeam?.directors}" />
  }
  @if (technicalTeam?.screenwriters?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.screenwriters', persons: technicalTeam?.screenwriters}" />
  }
  @if (technicalTeam?.dialogueWriters?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.dialogue_writers', persons: technicalTeam?.dialogueWriters}" />
  }
  @if (technicalTeam?.musicians?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.music', persons: technicalTeam?.musicians}" />
  }
  @if (technicalTeam?.photographers?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.photography', persons: technicalTeam?.photographers}" />
  }
  @if (technicalTeam?.costumiers?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.costumes', persons: technicalTeam?.costumiers}" />
  }
  @if (technicalTeam?.decorators?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.sets', persons: technicalTeam?.decorators}" />
  }
  @if (technicalTeam?.editors?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.editing', persons: technicalTeam?.editors}" />
  }
  @if (technicalTeam?.casters?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.casting', persons: technicalTeam?.casters}" />
  }
  @if (technicalTeam?.artDirectors?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.art_directors', persons: technicalTeam?.artDirectors}" />
  }
  @if (technicalTeam?.soundEditors?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.sound_editors', persons: technicalTeam?.soundEditors}" />
  }
  @if (technicalTeam?.visualEffectsSupervisors?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.special_effects', persons: technicalTeam?.visualEffectsSupervisors}" />
  }
  @if (technicalTeam?.makeupArtists?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.makeup', persons: technicalTeam?.makeupArtists}" />
  }
  @if (technicalTeam?.hairDressers?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.hair_dressers', persons: technicalTeam?.hairDressers}" />
  }
  @if (technicalTeam?.stuntmen?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.stuntmen', persons: technicalTeam?.stuntmen}" />
  }
  @if (technicalTeam?.producers?.length) {
  <ng-container [ngTemplateOutlet]="personsList"
    [ngTemplateOutletContext]="{label: 'app.producers', persons: technicalTeam?.producers}" />
  }
</div>

<ng-template #personsList let-label="label" let-persons="persons">
  <div>
    <span class="font-bold">{{label | translate | uppercase}} : </span>
    @for (person of persons | orderBy: 'name'; track person.id; let last = $last) {
    <a class="cursor-pointer hover:underline" [routerLink]="['/persons', person.id]">{{person?.name}}</a>
    @if (!last) {, }
    }
  </div>
</ng-template>