<div class="text-center dark:text-white text-sm">
  @for (type of (criterias() | pluck: 'types' | values); track type.id) {
  <span class="inline-flex items-center mr-3">
    {{type.name}}
    <mat-icon class="cursor-pointer ml-1" (click)="deleteType.emit(type)">close</mat-icon>
  </span>
  }
  @for (category of (criterias() | pluck: 'categories' | values); track category.id) {
  <span class="inline-flex items-center mr-3">
    {{category.name}}
    <mat-icon class="cursor-pointer ml-1" (click)="deleteCategory.emit(category)">close</mat-icon>
  </span>
  }
  @for (country of (criterias() | pluck: 'countries' | values); track country.id) {
  <span class="inline-flex items-center mr-3">
    {{country.nomFrFr}}
    <mat-icon class="cursor-pointer ml-1" (click)="deleteCountry.emit(country)">close</mat-icon>
  </span>
  }
  @for (user of (criterias() | pluck: 'users' | values); track user.id) {
  <span class="inline-flex items-center mr-3">
    {{user.username}}
    <mat-icon class="cursor-pointer ml-1" (click)="deleteUser.emit(user)">close</mat-icon>
  </span>
  }
</div>