<mat-form-field class="w-full">
  <mat-label>{{label}}</mat-label>
  <mat-date-range-input [rangePicker]="datepicker">
    <input matStartDate [formControl]="fromDateControl" [placeholder]="fromDatePlaceholder">
    <input matEndDate [formControl]="toDateControl" [placeholder]="toDatePlaceholder">
  </mat-date-range-input>
  <mat-hint>JJ/MM/YYYY – JJ/MM/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
  <mat-date-range-picker xPosition="end" #datepicker></mat-date-range-picker>

  @if (fromDateControl.hasError('matStartDateInvalid')) {
  <mat-error>{{'app.invalid_start_date' | translate}}</mat-error>
  }
  @if (toDateControl.hasError('matEndDateInvalid')) {
  <mat-error>{{'app.invalid_end_date' | translate}}</mat-error>
  }

  <!-- Bouton pour effacer les dates -->
  @if (fromDateControl.value || toDateControl.value) {
  <button mat-icon-button class="mr-2" matSuffix [matTooltip]="'app.erase' | translate" (click)="clearDates()">
    <mat-icon>clear</mat-icon>
  </button>
  }
</mat-form-field>