<div class="grid grid-cols-4 gap-4">
  @for (ceremonyAwards of localCeremoniesAwards | orderBy: 'ceremony.name'; track ceremonyAwards.ceremony; let i =
  $index) {
  @if (editGroupAwards().at(i)) {
  <app-ceremony-awards-form class="col-span-4 xxl:col-span-2" [cancellable]="true" [movieId]="movieId()"
    [ceremonyAwards]="ceremonyAwards" (save)="save($event, i)" (cancel)="cancelEdit(i)"
    (delete)="deleteCeremonyAwards(ceremonyAwards.id, i)">
  </app-ceremony-awards-form>
  } @else {
  <app-ceremony-awards class="col-span-4 lg:col-span-2 xxl:col-span-1" [ceremonyAwards]="ceremonyAwards"
    [editable]="true" (edit)="edit(i)">
  </app-ceremony-awards>
  }
  } @empty {
  <div class="text-xl dark:text-white">{{'app.no_awards' | translate}}</div>
  }
  <div class="fixed bottom-5 right-5">
    @if (authService.hasRole('admin') || authService.hasRole('user')) {
    <button mat-fab class="float-right m-1 dark:text-pmdb-dark! dark:bg-pmdb-gold!"
      [matTooltip]="'app.add_ceremony' | translate" aria-label="Example icon button with a delete icon"
      (click)="addCeremony()">
      <mat-icon>add</mat-icon>
    </button>
    }
  </div>
</div>