<h2 mat-dialog-title class="text-center dark:bg-black dark:!text-pmdb-white">{{'app.roles_of' | translate}}
  <strong>{{data?.username}}</strong>
</h2>
<mat-dialog-content class="!flex !items-center dark:bg-black !py-4">
  <form [formGroup]="form">
    @for (role of data.roles; track role.id) {
    <p>
      <mat-checkbox [formControlName]="role.name">
        <span class="dark:!text-pmdb-white">
          <strong>{{role?.name | uppercase}}</strong> {{role?.description}}
        </span>
      </mat-checkbox>
    </p>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions class="dark:bg-black">
  <div class="flex items-center justify-end gap-4">
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" mat-dialog-close>
      {{'app.cancel' | translate}}
    </a>
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white"
      [class.disabled]="form.invalid || form.pristine" [mat-dialog-close]="form.value">
      {{'app.validate' | translate}}
    </a>
  </div>
</mat-dialog-actions>