<h2 mat-dialog-title class="text-center">{{'app.roles_of' | translate}} <strong>{{data?.username}}</strong></h2>
<mat-dialog-content class="flex items-center">
  <form [formGroup]="form">
    @for (role of data.roles; track role.id) {
    <p>
      <mat-checkbox [formControlName]="role.name">
        <strong>{{role?.name | uppercase}}</strong> {{role?.description}}
      </mat-checkbox>
    </p>
    }
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close class="btn-secondary">{{'app.cancel' | translate}}</button>
  <button mat-button [mat-dialog-close]="form.value" class="btn-primary" [disabled]="form.invalid || form.pristine">
    {{'app.validate' | translate}}
  </button>
</mat-dialog-actions>