@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.mat-mdc-dialog-content {
  @include mat.checkbox-overrides((label-text-size: 20px,
      selected-icon-color: grey,
      selected-focus-icon-color: grey,
      selected-hover-icon-color: black,
      selected-hover-state-layer-color: grey));
}

.mat-mdc-button {
  background-color: #555555;
  color: white !important;
}

.mat-mdc-button:hover {
  background-color: #444444;
}

.mat-mdc-button:disabled {
  color: lightgray !important;
  background-color: inherit;
}