.mat-mdc-dialog-title {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  padding-bottom: 0px !important;
}

.mat-mdc-dialog-content {
  padding: 1rem 5rem !important;
}

.mat-mdc-dialog-actions {
  padding-left: 5rem;
  padding-right: 5rem;
  justify-content: space-between !important;
}

.disabled {
  pointer-events: none;
  opacity: 40% !important;
}