@let users = users$ | async;

<div class="flex flex-col h-full">
  <div class="flex flex-row justify-between items-center">
    <div>
      <h2 [hidden]="total < 1" class="self-end dark:text-white text-xl">{{total}} {{'app.users' | translate}}</h2>
    </div>
    <app-input class="md:w-1/4" [label]="'app.users' | translate" [placeholder]="'app.search_username' | translate"
      [total]="total" [hideable]="false" (change)="onSearch($event)">
    </app-input>
  </div>

  <div class="grow max-h-fit overflow-y-auto rounded-t-lg mt-3">
    <table mat-table [dataSource]="users" matSort [matSortActive]="searchConfig$.value.sort" matSortDisableClear
      [matSortDirection]="searchConfig$.value.direction" (matSortChange)="onSort($event)">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
          {{row.id}}
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.username' | translate}}</th>
        <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
          {{row.username}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.name' | translate}}</th>
        <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
          {{row?.firstname}} {{row?.lastname}}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.mail' | translate}}</th>
        <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
          {{row.email}}
        </td>
      </ng-container>

      <!-- Email Verified Column -->
      <ng-container matColumnDef="emailVerified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.mail_verified' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.emailVerified}}
        </td>
      </ng-container>

      <!-- Number of Movies Column -->
      <ng-container matColumnDef="moviesCount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.count_added_movies' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.numberOfMovies}}
        </td>
      </ng-container>

      <!-- Edit roles column -->
      <ng-container matColumnDef="tools">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell class="font-bold text-lg whitespace-nowrap" *matCellDef="let row">
          <mat-icon class="cursor-pointer dark:!text-pmdb-white mr-4" [matTooltip]="'app.edit_roles' | translate"
            (click)="openRolesDialog(row)">
            manage_accounts
          </mat-icon>
          <mat-icon class="cursor-pointer dark:!text-pmdb-white" [matTooltip]="'app.delete' | translate"
            (click)="deleteUser(row)">
            delete
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row class="bg-pmdb-white! dark:bg-pmdb-dark! dark:text-white!"
        *matHeaderRowDef="displayedColumns; sticky: true">
      </tr>
      <tr mat-row class="dark:text-white!" *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center dark:text-pmdb-white p-4" [attr.colspan]="displayedColumns.length">
          {{'app.no_users' | translate}}
        </td>
      </tr>
    </table>
  </div>
  @if (users?.length) {
  <mat-paginator #paginator class="rounded-b-lg dark:text-white!" [pageSizeOptions]="pageSizeOptions" [length]="total"
    [pageSize]="searchConfig$.value.size" [showFirstLastButtons]="true" (page)="onPageChange($event)"
    aria-label="Select page of Movie search results">
  </mat-paginator>
  }
</div>