@let users = users$ | async;

<div class="flex flex-col h-full">
  <div class="flex flex-row justify-between items-center">
    <h2></h2>
    <app-input class="md:w-1/3" [label]="'app.users' | translate" [placeholder]="'app.search_username' | translate"
      [total]="total" (change)="onSearch($event)">
    </app-input>
  </div>

  <div class="grow max-h-fit overflow-y-auto rounded-t-lg">
    <table mat-table [dataSource]="users" matSort [matSortActive]="searchConfig$.value.sort" matSortDisableClear
      [matSortDirection]="searchConfig$.value.direction" (matSortChange)="onSort($event)">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.id}}
        </td>
      </ng-container>

      <!-- Username Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.username' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.username}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.name' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.name}}
        </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.mail' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.email}}
        </td>
      </ng-container>

      <!-- Email Verified Column -->
      <ng-container matColumnDef="emailVerified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'app.mail_verified' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.emailVerified}}
        </td>
      </ng-container>

      <!-- Number of Movies Column -->
      <ng-container matColumnDef="moviesCount">
        <th mat-header-cell *matHeaderCellDef>{{'app.count_added_movies' | translate}}</th>
        <td mat-cell class="font-bold text-lg" *matCellDef="let row">
          {{row.numberOfMovies}}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row class="hover:bg-gray-200" *matRowDef="let row; columns: displayedColumns;">
      </tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
          {{'app.no_users' | translate}}
        </td>
      </tr>
    </table>
  </div>
  @if (users?.length) {
  <mat-paginator #paginator class="rounded-b-lg" [pageSizeOptions]="pageSizeOptions" [length]="total"
    [pageSize]="searchConfig$.value.size" [showFirstLastButtons]="true" (page)="onPageChange($event)"
    aria-label="Select page of Movie search results">
  </mat-paginator>
  }
</div>