<mat-form-field class="w-full">
  <mat-label>{{title() | translate}}</mat-label>
  <mat-chip-grid #personsChipGrid [attr.aria-label]="label" [formControl]="control">
    @for (person of selectedPersons(); track person) {
    <mat-chip-row class="dark:!bg-pmdb-dark" [value]="person" (removed)="remove(person)">
      <span class="dark:!text-pmdb-white">{{person?.name}}</span>
      <button matChipRemove [attr.aria-label]="'remove ' + person?.name">
        <mat-icon class="dark:!text-pmdb-white">cancel</mat-icon>
      </button>
    </mat-chip-row>
    }
    @if (saving) {
    <mat-spinner [diameter]="20"></mat-spinner>
    }
    <input #input appDelayedInput (delayedInput)="onSearch($event)" placeholder="Ajouter..."
      [matChipInputFor]="personsChipGrid" [matAutocomplete]="auto" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    @for (person of persons$ | async; track person.id) {
    <mat-option [value]="person">{{person?.name}}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>