@let currentLang = currentLang$ | async;
@let user = user$ | async;

<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="justify-between">
    <div class="items-center">
      <h1 class="example-app-name cursor-pointer" routerLink="/">{{title}}</h1>
    </div>
    <div class="flex items-center gap-2">
      <button mat-button routerLink="/movies">
        <span>{{'app.movies' | translate}}</span>
      </button>
      <button mat-button routerLink="/persons">
        <span>{{'app.persons' | translate}}</span>
      </button>
      <button mat-button routerLink="/users">
        <span>{{'app.users' | translate}}</span>
      </button>
      <button mat-button routerLink="/add-movie">
        <span>{{'app.add_movie' | translate}}</span>
      </button>
    </div>
    <div class="items-center">
      <button mat-icon-button class="menu-button" [matMenuTriggerFor]="menu"
        aria-label="Example icon button with a vertical three dot icon">
        {{user?.username | firstLetter | uppercase}}
      </button>
      <mat-menu #menu="matMenu">
        <div class="p-2 text-xl">{{user?.username}}</div>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="user">
          <mat-icon>account_circle</mat-icon>
          <span>{{'app.my_profile' | translate}}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="languages">
          <mat-icon>translate</mat-icon>
          <span>{{'app.languages' | translate}}</span>
        </button>
        <button mat-menu-item [matMenuTriggerFor]="appearances">
          <mat-icon>contrast</mat-icon>
          <span>{{'app.appearance' | translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>{{'app.logout' | translate}}</span>
        </button>
      </mat-menu>

      <mat-menu #languages="matMenu">
        <button mat-menu-item (click)="changeLanguage('en')">
          <span>🇬🇧 {{'app.english' | translate}}</span>
          @if (currentLang == 'en') {
          <mat-icon>check</mat-icon>
          }
        </button>
        <button mat-menu-item (click)="changeLanguage('fr')">
          <span>🇫🇷 {{'app.french' | translate}}</span>
          @if (currentLang == 'fr') {
          <mat-icon>check</mat-icon>
          }
        </button>
      </mat-menu>

      <mat-menu #appearances="matMenu">
        <button mat-menu-item>
          <mat-icon>check</mat-icon>
          <div class="flex text-right items-center">
            <mat-icon>light_mode</mat-icon>
            <span>{{'app.light' | translate}}</span>
          </div>
        </button>
        <button mat-menu-item>
          <div class="flex text-right items-center">
            <mat-icon>dark_mode</mat-icon>
            <span>{{'app.dark' | translate}}</span>
          </div>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav-content class="p-3">
      @if (loading$ | async) {
      <mat-spinner></mat-spinner>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>