@let currentLang = currentLang$ | async;
@let user = user$ | async;

<div class="example-container bg-pmdb-white dark:bg-pmdb-dark" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="justify-between !bg-inherit">
    <div class="items-center dark:text-pmdb-gold">
      <mat-icon class="cursor-pointer material-symbols-outlined" routerLink="/">dashboard</mat-icon>
    </div>
    <div class="flex items-center dark:text-pmdb-gold text-lg gap-4">
      <a routerLink="/movies">{{'app.movies' | translate}}</a>
      <a routerLink="/persons">{{'app.persons' | translate}}</a>
      @if (authService.hasRole('admin')) {
      <a routerLink="/users">{{'app.users' | translate}}</a>
      }
      @if (authService.hasRole('admin') || authService.hasRole('user')) {
      <a routerLink="/add-movie">{{'app.add_movie' | translate}}</a>
      }
    </div>
    <div class="items-center">
      <button mat-icon-button class="!bg-pmdb-blue !text-pmdb-white dark:!text-pmdb-dark dark:!bg-pmdb-gold"
        [matMenuTriggerFor]="menu" aria-label="Example icon button with a vertical three dot icon">
        {{user?.username | firstLetter | uppercase}}
      </button>
      <mat-menu #menu="matMenu" class="dark:text-pmdb-white dark:!bg-black">
        <div class="p-2 text-xl">{{user?.username}}</div>
        <mat-divider></mat-divider>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" routerLink="user">
          <mat-icon class="dark:!text-pmdb-white">account_circle</mat-icon>
          <span>{{'app.my_profile' | translate}}</span>
        </button>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" [matMenuTriggerFor]="languages">
          <mat-icon class="dark:!text-pmdb-white">translate</mat-icon>
          <span>{{'app.languages' | translate}}</span>
        </button>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" [matMenuTriggerFor]="appearances">
          <mat-icon class="dark:!text-pmdb-white">contrast</mat-icon>
          <span>{{'app.appearance' | translate}}</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="logout()">
          <mat-icon class="dark:!text-pmdb-white">logout</mat-icon>
          <span>{{'app.logout' | translate}}</span>
        </button>
      </mat-menu>

      <mat-menu #languages="matMenu" class="dark:text-pmdb-white dark:!bg-black">
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="changeLanguage('en')">
          <div class="flex w-full items-center justify-between">
            <span>🇬🇧 &nbsp;&nbsp;{{'app.english' | translate}}</span>
            @if (currentLang == 'en') {
            <mat-icon class="dark:!text-pmdb-white">check</mat-icon>
            }
          </div>
        </button>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="changeLanguage('fr')">
          <div class="flex w-full items-center justify-between">
            <span>🇫🇷 &nbsp;&nbsp;{{'app.french' | translate}}</span>
            @if (currentLang == 'fr') {
            <mat-icon class="dark:!text-pmdb-white">check</mat-icon>
            }
          </div>
        </button>
      </mat-menu>

      <mat-menu #appearances="matMenu" class="dark:text-pmdb-white dark:!bg-black">
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="toggleTheme('light')">
          <div class="flex w-full justify-between">
            <span class="flex items-center">
              <mat-icon class="dark:!text-pmdb-white">light_mode</mat-icon>
              {{'app.light' | translate}}
            </span>
            @if (!isDarkMode) {
            <mat-icon class="dark:!text-pmdb-white">check</mat-icon>
            }
          </div>
        </button>
        <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="toggleTheme('dark')">
          <div class="flex w-full justify-between">
            <span class="flex items-center">
              <mat-icon class="dark:!text-pmdb-white">dark_mode</mat-icon>
              {{'app.dark' | translate}}
            </span>
            @if (isDarkMode) {
            <mat-icon class="dark:!text-pmdb-white">check</mat-icon>
            }
          </div>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav-content class="p-3">
      @if (loading$ | async) {
      <mat-spinner></mat-spinner>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>