<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="justify-between">
    <div class="flex items-center">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="example-app-name">{{title}}</h1>
    </div>
    <h1>
      <button mat-button routerLink="/add-movie">
        <mat-icon>add</mat-icon>
        <span>Ajouter un film</span>
      </button>
    </h1>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        @for (nav of navs | filterBy: ['active']: true; track nav) {
        <a mat-list-item [routerLink]="nav.routerLink">{{nav.label}}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content">
      @if (loading$ | async) {
      <mat-spinner></mat-spinner>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>