<div class="grid grid-cols-12 gap-2">
  <div class="col-span-9 grid gap-3 h-fit text-xl">
    @if (movie()?.title) {
    <p>
      <span class="font-bold">{{'app.title' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.title}}</span>
    </p>
    }
    @if (movie()?.originalTitle) {
    <p>
      <span class="font-bold">{{'app.original_title' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.originalTitle}}</span>
    </p>
    }
    @if (movie()?.synopsis) {
    <p>
      <span class="font-bold">{{'app.synopsis' | translate | uppercase}} :</span>
      <span [style.white-space]="'pre-line'">&nbsp;{{movie()?.synopsis}}</span>
    </p>
    }
    @if (movie()?.releaseDate) {
    <p>
      <span class="font-bold">{{'app.release_date' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.releaseDate | date: 'dd/MM/yyyy'}}</span>
    </p>
    }
    @if (movie()?.runningTime) {
    <p>
      <span class="font-bold">{{'app.duration' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.runningTime}} @if (movie()?.runningTime) {minutes}</span>
    </p>
    }
    @if (movie()?.budget) {
    <p>
      <span class="font-bold">{{'app.budget' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.budget | number}} @if (movie()?.budget) { {{movie()?.budgetCurrency}} }</span>
    </p>
    }
    @if (movie()?.boxOffice) {
    <p>
      <span class="font-bold">{{'app.box_office' | translate | uppercase}} :</span>
      <span>&nbsp;{{movie()?.boxOffice | number}} @if (movie()?.boxOffice) { {{movie()?.boxOfficeCurrency}} }</span>
    </p>
    }
    @if (movie()?.genres?.length) {
    <p>
      <span class="font-bold">{{'app.categories' | translate | uppercase}} :</span>
      <span>&nbsp;{{(movie()?.genres | pluck: 'name' | orderBy)?.join(', ')}}</span>
    </p>
    }
    @if (movie()?.countries?.length) {
    <p>
      <span class="font-bold">{{'app.countries' | translate | uppercase}} :</span>
      <span>&nbsp;{{(movie()?.countries | pluck: 'nomFrFr' | orderBy)?.join(', ')}}</span>
    </p>
    }
  </div>
  <div class="col-span-3 mx-3">
    @if (movie()?.posterFileName) {
    <img mat-card-image class="rounded-lg" [src]="posterUrl$ | async" alt="{{ movie()?.title }}" />
    }
  </div>
</div>