<mat-tab-group class="px-4" [disableRipple]="true" fitInkBarToContent (selectedTabChange)="onTabChanged($event)">
  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.general_infos' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editGeneralInfos) {
      <div class="h-full flex flex-col">
        <div class="flex-1 overflow-auto pt-1">
          <app-general-infos-form [form]="generalInfosForm" (selectImage)="selectImage($event)">
          </app-general-infos-form>
        </div>

        <div class="flex items-center justify-end gap-4">
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" (click)="cancelGeneralInfosForm()">
            {{'app.cancel' | translate}}
          </a>
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white"
            [class.disabled]="generalInfosForm.invalid || generalInfosForm.pristine" (click)="saveGeneralInfos()">
            {{'app.validate' | translate}}
          </a>
        </div>
      </div>
      } @else {
      <app-movie-detail [movie]="generalInfos"></app-movie-detail>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1 dark:text-pmdb-dark! dark:bg-pmdb-gold!"
          [matTooltip]="'app.edit' | translate" aria-label="Example icon button with a delete icon"
          (click)="editGeneralInfos=true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      }
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.technical_team.label' | translate}}</ng-template>

    <div class="h-full py-4">
      <app-technical-team [movieId]="id" [technicalTeam]="technicalTeam"></app-technical-team>
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.cast' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editCasting) {
      <div class="h-full flex flex-col">
        <div class="flex-1 overflow-auto pt-1">
          <app-cast-form [form]="castForm"></app-cast-form>
        </div>

        <div class="flex items-center justify-end gap-4">
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" (click)="cancelCastForm()">
            {{'app.cancel' | translate}}
          </a>
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white"
            [class.disabled]="castForm.invalid || castForm.pristine" (click)="saveCast()">
            {{'app.validate' | translate}}
          </a>
        </div>
      </div>
      } @else {
      <div>
        <app-cast [actors]="cast"></app-cast>

        <div class="fixed bottom-5 right-5">
          <button mat-fab class="float-right m-1 dark:text-pmdb-dark! dark:bg-pmdb-gold!"
            [matTooltip]="'app.edit' | translate" aria-label="Example icon button with a delete icon"
            (click)="editCasting=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.awards' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editAwards) {
      <div class="h-full flex flex-col">
        <div class="flex-1 overflow-auto pt-1">
          <app-awards-form [movieId]="id" [form]="awardsForm"></app-awards-form>
        </div>

        <div class="flex items-center justify-end gap-4">
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" (click)="cancelAwardsForm()">
            {{'app.cancel' | translate}}
          </a>
          <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white"
            [class.disabled]="awardsForm.invalid || awardsForm.pristine" (click)="saveAwards()">
            {{'app.validate' | translate}}
          </a>
        </div>
      </div>
      } @else {
      <div>
        <app-awards [awards]="awards"></app-awards>

        <div class="fixed bottom-5 right-5">
          <button mat-fab class="float-right m-1 dark:text-pmdb-dark! dark:bg-pmdb-gold!"
            [matTooltip]="'app.edit' | translate" aria-label="Example icon button with a delete icon"
            (click)="editAwards=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>