<mat-tab-group class="px-4" [disableRipple]="true" fitInkBarToContent (selectedTabChange)="onTabChanged($event)">
  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.general_infos' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editGeneralInfos) {
      <app-general-infos-form [form]="generalInfosForm" (selectImage)="selectImage($event)">
      </app-general-infos-form>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.confirm' | translate"
          aria-label="Example icon button with a check icon" color="accent" [disabled]="generalInfosForm?.invalid"
          (click)="saveGeneralInfos()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-fab class="float-right m-1" [matTooltip]="'app.cancel' | translate"
          aria-label="Example icon button with a cancel icon" color="accent" (click)="cancelGeneralInfos()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      } @else {
      <app-movie-detail [movie]="generalInfos"></app-movie-detail>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.edit' | translate"
          aria-label="Example icon button with a delete icon" color="accent" (click)="editGeneralInfos=true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      }
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.technical_team' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editTechnicalTeam) {
      <app-technical-team-form [form]="technicalTeamForm"></app-technical-team-form>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.confirm' | translate"
          aria-label="Example icon button with a delete icon" color="accent" (click)="saveTechnicalTeam()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-fab class="float-right m-1" [matTooltip]="'app.cancel' | translate"
          aria-label="Example icon button with a cancel icon" color="accent" (click)="cancelTechnicalTeam()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      } @else {
      <app-technical-team [technicalTeam]="technicalTeam"></app-technical-team>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.edit' | translate"
          aria-label="Example icon button with a delete icon" color="accent" (click)="editTechnicalTeam=true">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
      }
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.casting' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editCasting) {
      <app-casting-form [form]="castingForm"></app-casting-form>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.confirm' | translate"
          aria-label="Example icon button with a delete icon" color="accent" (click)="saveCasting()"
          [disabled]="castingForm?.invalid">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-fab class="float-right m-1" [matTooltip]="'app.cancel' | translate"
          aria-label="Example icon button with a cancel icon" color="accent" (click)="cancelCasting()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      } @else {
      <div>
        <app-casting [actors]="casting"></app-casting>

        <div class="fixed bottom-5 right-5">
          <button mat-fab class="float-right m-1" [matTooltip]="'app.edit' | translate"
            aria-label="Example icon button with a delete icon" color="accent" (click)="editCasting=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </mat-tab>

  <mat-tab labelClass="tab-label">
    <ng-template mat-tab-label>{{'app.awards' | translate}}</ng-template>

    <div class="h-full py-4">
      @if (editAwards) {
      <app-awards-form [movieId]="id" [form]="awardsForm"></app-awards-form>

      <div class="fixed bottom-5 right-5">
        <button mat-fab class="float-right m-1" [matTooltip]="'app.confirm' | translate"
          aria-label="Example icon button with a delete icon" color="accent" (click)="saveAwards()">
          <mat-icon>check</mat-icon>
        </button>
        <button mat-fab class="float-right m-1" [matTooltip]="'app.cancel' | translate"
          aria-label="Example icon button with a cancel icon" color="accent" (click)="cancelAwards()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      } @else {
      <div>
        <app-awards [awards]="awards"></app-awards>

        <div class="fixed bottom-5 right-5">
          <button mat-fab class="float-right m-1" [matTooltip]="'app.edit' | translate"
            aria-label="Example icon button with a delete icon" color="accent" (click)="editAwards=true">
            <mat-icon>edit</mat-icon>
          </button>
        </div>
      </div>
      }
    </div>
  </mat-tab>
</mat-tab-group>