.mat-mdc-tab-group {
  height: calc(100% - 56px);

  .mat-mdc-tab-body-wrapper {
    height: calc(100% - 49px);
    overflow-y: auto;
  }
}

::ng-deep .mat-mdc-tab-labels {
  gap: 1rem !important;
}

.mat-mdc-button {
  color: black;
  border: 1px solid black;
  background-color: #f9f9f9;

  &:hover {
    color: white;
    background-color: rgb(39, 39, 41);
  }
}

.mat-mdc-fab {
  background-color: #555555;
  color: white;
}