<div class="form grid gap-4 grid-cols-4">
  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.production"
    label="app.technical_team.producer_name" [movieId]="movieId()" [technicians]="technicalTeam().producers"
    [personType]="personType.PRODUCER" [expanded]="expanded()"
    [serviceCall]="movieService.saveProducers.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_producers" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.directing"
    label="app.technical_team.director_name" [movieId]="movieId()" [technicians]="technicalTeam().directors"
    [personType]="personType.DIRECTOR" [expanded]="expanded()"
    [serviceCall]="movieService.saveDirectors.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_directors" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.screenwriting"
    label="app.technical_team.screenwriter_name" [movieId]="movieId()" [technicians]="technicalTeam().screenwriters"
    [personType]="personType.SCREENWRITER" [expanded]="expanded()"
    [serviceCall]="movieService.saveScreenwriters.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_screenwriters" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.original_soundtrack"
    label="app.technical_team.composer_name" [movieId]="movieId()" [technicians]="technicalTeam().composers"
    [personType]="personType.COMPOSER" [expanded]="expanded()"
    [serviceCall]="movieService.saveComposers.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_composers" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.music"
    label="app.technical_team.musician_name" [movieId]="movieId()" [technicians]="technicalTeam().musicians"
    [personType]="personType.MUSICIAN" [expanded]="expanded()"
    [serviceCall]="movieService.saveMusicians.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_musicians" arrayName="musicians"
    [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.sets"
    label="app.technical_team.decorator_name" [movieId]="movieId()" [technicians]="technicalTeam().decorators"
    [personType]="personType.DECORATOR" [expanded]="expanded()"
    [serviceCall]="movieService.saveDecorators.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_decorators" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.costumes"
    label="app.technical_team.costumier_name" [movieId]="movieId()" [technicians]="technicalTeam().costumiers"
    [personType]="personType.COSTUMIER" [expanded]="expanded()"
    [serviceCall]="movieService.saveCostumiers.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_costumiers" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.photography"
    label="app.technical_team.photographer_name" [movieId]="movieId()" [technicians]="technicalTeam().photographers"
    arrayName="photographers" [personType]="personType.PHOTOGRAPHER" [expanded]="expanded()"
    [serviceCall]="movieService.savePhotographers.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_photographers" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.editing"
    label="app.technical_team.editor_name" [movieId]="movieId()" [technicians]="technicalTeam().editors"
    [personType]="personType.EDITOR" [expanded]="expanded()" [serviceCall]="movieService.saveEditors.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_editors" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.casting"
    label="app.technical_team.caster_name" [movieId]="movieId()" [technicians]="technicalTeam().casters"
    [personType]="personType.CASTER" [expanded]="expanded()" [serviceCall]="movieService.saveCasters.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_casters" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.artistic_team"
    label="app.technical_team.artist_name" [movieId]="movieId()" [technicians]="technicalTeam().artists"
    [personType]="personType.ARTIST" [expanded]="expanded()" [serviceCall]="movieService.saveArtists.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_artists" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.sound"
    label="app.technical_team.sound_editor_name" [movieId]="movieId()" [technicians]="technicalTeam().soundEditors"
    [personType]="personType.SOUND_EDITOR" [expanded]="expanded()"
    [serviceCall]="movieService.saveSoundEditors.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_sound_editors" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.makeup"
    label="app.technical_team.makeup_artist_name" [movieId]="movieId()" [technicians]="technicalTeam().makeupArtists"
    [personType]="personType.MAKEUP_ARTIST" [expanded]="expanded()"
    [serviceCall]="movieService.saveMakeupArtists.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_makeup_artists" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.vfx"
    label="app.technical_team.vfx_supervisor_name" [movieId]="movieId()" [technicians]="technicalTeam().vfxSupervisors"
    [personType]="personType.VFX_SUPERVISOR" [expanded]="expanded()"
    [serviceCall]="movieService.saveVfxSupervisors.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_vfx_supervisors" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.sfx"
    label="app.technical_team.sfx_supervisor_name" [movieId]="movieId()" [technicians]="technicalTeam().sfxSupervisors"
    [personType]="personType.SFX_SUPERVISOR" [expanded]="expanded()"
    [serviceCall]="movieService.saveSfxSupervisors.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_sfx_supervisors" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.hair_dressing"
    label="app.technical_team.hair_dresser_name" [movieId]="movieId()" [technicians]="technicalTeam().hairDressers"
    arrayName="hairDressers" [personType]="personType.HAIR_DRESSER" [expanded]="expanded()"
    [serviceCall]="movieService.saveHairDressers.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_hair_dressers" [cancellable]="false">
  </app-technicians-form>

  <app-technicians-form class="col-span-4 lg:col-span-2 xxl:col-span-1" title="app.technical_team.stunts"
    label="app.technical_team.stuntman_name" [movieId]="movieId()" [technicians]="technicalTeam().stuntmen"
    [personType]="personType.STUNT_MAN" [expanded]="expanded()"
    [serviceCall]="movieService.saveStuntmen.bind(movieService)"
    successMessage="app.technical_team_form.messages.success.adding_stuntmen" [cancellable]="false">
  </app-technicians-form>
</div>