<form class="form grid grid-cols-12" [formGroup]="form">
  <app-person-selector class="col-span-12" [service]="directorService" formGroupName="directors" title="Réalisation"
    label="Directors selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="screenwriterService" formGroupName="screenwriters"
    title="Scénario" label="Screenwriters selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="musicianService" formGroupName="musicians" title="Musique"
    label="Musicians selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="decoratorService" formGroupName="decorators" title="Décors"
    label="Decorators selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="costumierService" formGroupName="costumiers" title="Costumes"
    label="Costumiers selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="photographerService" formGroupName="photographers"
    title="Photographie" label="Photographers selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="editorService" formGroupName="editors" title="Montage"
    label="Editors selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="casterService" formGroupName="casters" title="Casting"
    label="Casters selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="artDirectorService" formGroupName="artDirectors"
    title="Direction artistique" label="Art Directors selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="soundEditorService" formGroupName="soundEditors" title="Son"
    label="Sound Editors selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="visualEffectsSupervisorService"
    formGroupName="visualEffectsSupervisors" title="Effets spéciaux" label="Visual Effects Supervisor selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="makeupArtistService" formGroupName="makeupArtists"
    title="Maquillage" label="Make-up Artists selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="hairDresserService" formGroupName="hairDressers" title="Coiffure"
    label="Hair Dressers selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="stuntmanService" formGroupName="stuntmen" title="Cascades"
    label="Stuntmen selection">
  </app-person-selector>

  <app-person-selector class="col-span-12" [service]="producerService" formGroupName="producers" title="Producteurs"
    label="Producers selection">
  </app-person-selector>
</form>