<table mat-table [dataSource]="enrichedMovies()" matSort [matSortActive]="sortActive" matSortDisableClear
  [matSortDirection]="sortDirection" (matSortChange)="onSort($event)">
  <!-- Poster Column -->
  <ng-container matColumnDef="poster">
    <th mat-header-cell *matHeaderCellDef>Affiche</th>
    <td mat-cell *matCellDef="let row">
      <img mat-card-image [src]="row?.posterUrl$ | async" alt="{{ row.title }}" />
    </td>
  </ng-container>

  <!-- Title Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Titre</th>
    <td mat-cell class="font-bold text-lg" *matCellDef="let row">
      <span class="cursor-pointer hover:underline" [routerLink]="['/movies', row.id]">{{row.title}}</span>
    </td>
  </ng-container>

  <!-- Original title Column -->
  <ng-container matColumnDef="originalTitle">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Title original</th>
    <td mat-cell *matCellDef="let row">{{row.originalTitle}}</td>
  </ng-container>

  <!-- Synopsis Column -->
  <ng-container matColumnDef="synopsis">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Synopsis</th>
    <td mat-cell *matCellDef="let row">{{row.synopsis}}</td>
  </ng-container>

  <!-- Release date Column -->
  <ng-container matColumnDef="releaseDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date de sortie</th>
    <td mat-cell *matCellDef="let row">{{row.releaseDate | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <!-- Running time Column -->
  <ng-container matColumnDef="runningTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Durée</th>
    <td mat-cell *matCellDef="let row">{{row.runningTime}} @if (row.runningTime) {min}</td>
  </ng-container>

  <!-- Budget Column -->
  <ng-container matColumnDef="budget">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Budget</th>
    <td mat-cell *matCellDef="let row">{{row.budget | number}}</td>
  </ng-container>

  <!-- Box-Office Column -->
  <ng-container matColumnDef="boxOffice">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Box-office</th>
    <td mat-cell *matCellDef="let row">{{row.boxOffice | number}}</td>
  </ng-container>

  <!-- User Column -->
  <ng-container matColumnDef="user">
    <th mat-header-cell *matHeaderCellDef>Utilisateur</th>
    <td mat-cell *matCellDef="let row">{{row?.user?.username}}</td>
  </ng-container>

  <!-- Number of awards Column -->
  <ng-container matColumnDef="numberOfAwards">
    <th mat-header-cell *matHeaderCellDef>Nombre de récompenses</th>
    <td mat-cell *matCellDef="let row">{{row?.awards?.length}}</td>
  </ng-container>

  <!-- Creation date Column -->
  <ng-container matColumnDef="creationDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date d'ajout</th>
    <td mat-cell *matCellDef="let row">{{row.creationDate | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <!-- Last update Column -->
  <ng-container matColumnDef="lastUpdate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Dernière modification</th>
    <td mat-cell *matCellDef="let row">{{row.lastUpdate | date: 'dd/MM/yyyy'}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row class="hover:bg-gray-200" *matRowDef="let row; columns: displayedColumns;">
  </tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell text-center p-4" [attr.colspan]="displayedColumns.length">
      Aucun film
    </td>
  </tr>
</table>