<div class="section">
  <div class="flex flex-row justify-between">
    <h2 class="section-title">{{title()}} ({{movies()?.length}})</h2>
    @if (movies()?.length) {
    <div class="flex justify-end">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Tableau">
        <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
        <mat-icon class="material-symbols-outlined">image</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Filtrer">
        <mat-icon>filter_list</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
        <mat-icon>sort</mat-icon>
      </button>
    </div>
    }
  </div>

  <div class="movies-grid">
    @for (movie of movies() | orderBy: 'title'; track movie.id) {
    <app-movie-card [movie]="movie"></app-movie-card>
    }
  </div>
</div>