@if (form) {
<form class="h-full flex flex-col" [formGroup]="form">
  <div class="flex-1 overflow-auto grid grid-cols-12 gap-2">
    <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
      <mat-label>{{'app.title' | translate}}</mat-label>
      <input matInput [placeholder]="'app.french_title' | translate" formControlName="title">
      @if (titleFormCtrl.hasError('required') && titleFormCtrl.touched) {
      <mat-error>{{'app.required_title' | translate}}</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
      <mat-label>{{'app.original_title' | translate}}</mat-label>
      <input matInput [placeholder]="'app.original_title' | translate" formControlName="originalTitle">
    </mat-form-field>

    <mat-form-field class="col-span-12 lg:col-span-4">
      <mat-label>{{'app.release_date' | translate}}</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="JJ/MM/YYYY" formControlName="releaseDate">
      <mat-datepicker-toggle matIconSuffix class="mr-2" [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker xPosition="end" #picker></mat-datepicker>
      <!-- Bouton pour effacer les dates -->
      @if (releaseDateFormCtrl?.value) {
      <button mat-icon-button class="mr-2 dark:hover:!bg-pmdb-dark" matSuffix [matTooltip]="'app.erase' | translate"
        (click)="clearDates()">
        <mat-icon class="dark:!text-pmdb-white">clear</mat-icon>
      </button>
      }
    </mat-form-field>

    <mat-form-field class="col-span-12 md:col-span-12">
      <mat-label>{{'app.synopsis' | translate}}</mat-label>
      <textarea matInput [placeholder]="'app.movie_summary' | translate" formControlName="synopsis"
        (input)="autoResize(textarea)" #textarea>
      </textarea>
    </mat-form-field>

    <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>{{'app.budget' | translate}}</mat-label>
      <div [formGroup]="budgetFormGroup" class="flex gap-2">
        <input matInput class="w-2/3" type="number" min="0" [placeholder]="'app.budget' | translate"
          formControlName="value" />

        <mat-select formControlName="currency" class="w-1/3" [placeholder]="'app.currency' | translate">
          @for (currency of currencies | orderBy: 'label'; track $index) {
          <mat-option class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" [value]="currency.value">
            {{ currency.label}}
          </mat-option>
          }
        </mat-select>
      </div>
      @if (form.get('budget.value')?.hasError('isNumber')) {
      <mat-error>Le champ doit être un nombre valide</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>{{'app.box_office' | translate}}</mat-label>
      <div [formGroup]="boxOfficeFormGroup" class="flex gap-2">
        <input matInput type="number" min="0" [placeholder]="'app.world_box_office' | translate" formControlName="value"
          class="w-2/3" />

        <mat-select formControlName="currency" class="w-1/3" [placeholder]="'app.currency' | translate">
          @for (currency of currencies | orderBy: 'label'; track $index) {
          <mat-option [value]="currency.value">{{ currency.label }}</mat-option>
          }
        </mat-select>
      </div>
    </mat-form-field>

    <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>{{'app.duration' | translate}}</mat-label>
      <input matInput type="number" min="0" [placeholder]="'app.duration_in_minutes' | translate"
        formControlName="runningTime">
    </mat-form-field>

    <app-file-chooser class="col-span-12 md:col-span-6 lg:col-span-3" accept=".jpg,.jpeg,.png"
      formGroupName="posterFileName" (selectImage)="onSelectImage($event)" (deleteImage)="onDeleteImage()">
    </app-file-chooser>

    <app-country-selector class="col-span-12 lg:col-span-6" formGroupName="countries" (remove)="markFormAsDirty()">
    </app-country-selector>

    <app-category-selector class="col-span-12 lg:col-span-6" formGroupName="categories" (remove)="markFormAsDirty()">
    </app-category-selector>
  </div>

  <div class="flex items-center justify-end gap-4 py-2">
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white" [hidden]="!cancellable()"
      (click)="cancelForm()">
      {{'app.cancel' | translate}}
    </a>
    <a class="cursor-pointer dark:!text-pmdb-gold dark:hover:!text-pmdb-white"
      [class.disabled]="form.invalid || form.pristine" (click)="saveGeneralInfos()">
      {{'app.validate' | translate}}
    </a>
  </div>
</form>
}