<form class="form" [formGroup]="formGroup">
  <div class="grid grid-cols-12 gap-2">
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-4">
      <mat-label>Titre</mat-label>
      <input matInput placeholder="Titre français" formControlName="titleCtrl" required>
      @if (titleFormCtrl.hasError('required')) {
        <mat-error>Le titre est requis</mat-error>
      }
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-4">
      <mat-label>Titre original</mat-label>
      <input matInput placeholder="Titre original" formControlName="originalTitleCtrl">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 lg:col-span-4">
      <mat-label>Date de sortie</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="JJ/MM/YYYY" formControlName="releaseDateCtrl">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-12">
      <mat-label>Synopsis</mat-label>
      <textarea matInput placeholder="Résumé du film" formControlName="synopsisCtrl"></textarea>
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>Durée</mat-label>
      <input matInput type="number" min="0" placeholder="Durée en minutes" formControlName="runningTimeCtrl">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>Budget</mat-label>
      <input matInput type="number" min="0" placeholder="Budget en millions d'euros" formControlName="budgetCtrl">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>Box Office</mat-label>
      <input matInput type="number" min="0" placeholder="Box Office mondial" formControlName="boxOfficeCtrl">
    </mat-form-field>
    <mat-form-field appearance="outline" class="col-span-12 md:col-span-6 lg:col-span-3">
      <mat-label>Affiche</mat-label>
      <ngx-mat-file-input formControlName="posterCtrl" accept="'.jpg', '.jpeg', '.png'"></ngx-mat-file-input>
      <mat-icon matSuffix>image</mat-icon>
    </mat-form-field>
  </div>
</form>