<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="flex flex-col gap-4">
    <app-date-range-picker label="Date de sortie" startDatePlaceholder="Début date de sortie"
      endDatePlaceholder="Fin date de sortie" [startDateControl]="form.controls.startReleaseDate"
      [endDateControl]="form.controls.endReleaseDate">
    </app-date-range-picker>

    <app-multiselect [control]="form.controls.genres" label="Genres" placeholder="Ajouter des genres"
      placeholderLabel="Rechercher un genre..." noEntriesFoundLabel="Aucun genre trouvé" [items]="genres$ | async"
      (update)="updateGenreSearch($event)">
    </app-multiselect>

    <app-multiselect [control]="form.controls.countries" label="Pays" placeholder="Ajouter des pays"
      placeholderLabel="Rechercher un pays..." noEntriesFoundLabel="Aucun pays trouvé" [items]="countries$ | async"
      (update)="updateCountrySearch($event)">
    </app-multiselect>

    <app-date-range-picker label="Date de création" startDatePlaceholder="Début date de création"
      endDatePlaceholder="Fin date de création" [startDateControl]="form.controls.startCreationDate"
      [endDateControl]="form.controls.endCreationDate">
    </app-date-range-picker>

    <app-date-range-picker label="Date de dernière modification"
      startDatePlaceholder="Début date de dernière modification" endDatePlaceholder="Fin date de dernière modification"
      [startDateControl]="form.controls.startLastUpdate" [endDateControl]="form.controls.endLastUpdate">
    </app-date-range-picker>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button [mat-dialog-close]="form" cdkFocusInitial [disabled]="form.invalid">Valider</button>
</mat-dialog-actions>