<div class="flex items-center justify-end dark:text-white gap-4">
  <!-- Rechercher -->
  @if (showInputField) {
  <app-input [placeholder]="'app.search' | translate" (change)="onSearch($event)" (hide)="this.showInputField=false"
    #inputRef>
  </app-input>
  } @else {
  <mat-icon class="cursor-pointer" [matTooltip]="'app.search' | translate" (click)="toggleInputField()">
    search
  </mat-icon>
  }

  <!-- Filtrer -->
  <mat-icon class="cursor-pointer" (click)="openCriteriasDialog()" [matTooltip]="'app.filter' | translate">
    filter_list
  </mat-icon>

  <!-- Trier -->
  @if (currentView == view.GRID) {
  <div class="flex cursor-pointer items-center" [matTooltip]="'app.sort' | translate" [matMenuTriggerFor]="sort">
    <span class="mr-1">{{selectedSort()?.label | translate}}</span>
    <span class="flex items-center">
      @let direction = selectedSort()?.direction;
      @if (direction == 'asc') {
      <mat-icon class="small-icon">arrow_upward_alt</mat-icon>
      } @else if (direction == 'desc') {
      <mat-icon class="small-icon">arrow_downward_alt</mat-icon>
      }
    </span>
  </div>
  }

  <mat-menu #sort="matMenu" class="dark:!bg-black">
    @for (sort of sorts(); track $index) {
    <button mat-menu-item class="flex dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="onSelectSort(sort)">
      <span>{{sort.label | translate}}</span>
      <span class="flex items-center float-right ml-2">
        @let direction = sort.direction;
        @if (direction == 'asc') {
        <mat-icon class="small-icon dark:!text-pmdb-white">arrow_upward_alt</mat-icon>
        } @else if (direction == 'desc') {
        <mat-icon class="small-icon dark:!text-pmdb-white">arrow_downward_alt</mat-icon>
        }
      </span>
    </button>
    }
  </mat-menu>

  <!-- Affichage -->
  <mat-icon class="cursor-pointer" [matTooltip]="'app.dipslay' | translate" [matMenuTriggerFor]="display">
    apps
  </mat-icon>

  <mat-menu #display="matMenu" class="dark:!bg-black">
    <button mat-menu-item class="dark:text-pmdb-white! dark:hover:!bg-pmdb-dark" (click)="onSwitchView(view.GRID)">
      <span>{{'app.grid' | translate}}</span>
      @if (currentView == view.GRID) {
      <span>
        <mat-icon class="small-icon dark:!text-pmdb-white">check</mat-icon>
      </span>
      }
    </button>
    <button mat-menu-item class="dark:!text-pmdb-white dark:hover:!bg-pmdb-dark" (click)="onSwitchView(view.TABLE)">
      <span>{{'app.table' | translate}}</span>
      @if (currentView == view.TABLE) {
      <span>
        <mat-icon class="small-icon dark:!text-pmdb-white">check</mat-icon>
      </span>
      }
    </button>
  </mat-menu>
</div>