<div class="flex justify-end gap-2">
  <!-- Rechercher -->
  @if (showInputField) {
  <app-input [placeholder]="'app.search' | translate" (change)="onSearch($event)" (hide)="this.showInputField=false"
    #inputRef>
  </app-input>
  } @else {
  <button mat-icon-button [matTooltip]="'app.search' | translate" (click)="toggleInputField()">
    <mat-icon>search</mat-icon>
  </button>
  }

  <!-- Filtrer -->
  <button mat-button (click)="openCriteriasDialog()">{{'app.filter' | translate}}</button>

  <!-- Trier -->
  @if (currentView == view.CARDS) {
  <button mat-button [matMenuTriggerFor]="sort">
    <span>{{selectedSort()?.label | translate}}</span>
    @if (selectedSort()?.direction == 'asc') {
    <mat-icon>arrow_upward_alt</mat-icon>
    } @else if (selectedSort()?.direction == 'desc') {
    <mat-icon>arrow_downward_alt</mat-icon>
    }
  </button>
  }
  <!-- Affichage -->
  <button mat-button [matMenuTriggerFor]="display">
    @if (currentView == view.CARDS) {
    <span>{{'app.posters' | translate}}</span>
    } @else if (currentView == view.TABLE) {
    <span>{{'app.table' | translate}}</span>
    }
  </button>

  <mat-menu #display="matMenu">
    <button mat-menu-item (click)="onSwitchView(view.CARDS)">
      <span>{{'app.posters' | translate}}</span>
      @if (currentView == view.CARDS) {
      <mat-icon>check</mat-icon>
      }
    </button>
    <button mat-menu-item (click)="onSwitchView(view.TABLE)">
      <span>{{'app.table' | translate}}</span>
      @if (currentView == view.TABLE) {
      <mat-icon>check</mat-icon>
      }
    </button>
  </mat-menu>

  <mat-menu #sort="matMenu">
    @for (sort of sorts(); track $index) {
    <button mat-menu-item (click)="onSelectSort(sort)">
      <span>{{sort.label | translate}}</span>
      @if (sort.direction == 'asc') {
      <mat-icon>arrow_upward_alt</mat-icon>
      } @else if (sort.direction == 'desc') {
      <mat-icon>arrow_downward_alt</mat-icon>
      }
    </button>
    }
  </mat-menu>
</div>