<div class="flex gap-2">
  <!-- Filtrer -->
  <button mat-button matTooltip="Filtrer" (click)="openCriteriasDialog()">
    Filtrer
  </button>

  <!-- Trier -->
  @if (currentView == view.CARDS) {
  <button mat-button [matMenuTriggerFor]="sort">
    <span>{{selectedSort()?.label}}</span>
    @if (selectedSort().direction == 'asc') {
    <mat-icon>arrow_upward_alt</mat-icon>
    } @else if (selectedSort()?.direction == 'desc') {
    <mat-icon>arrow_downward_alt</mat-icon>
    }
  </button>
  }
  <!-- Affichage -->
  <button mat-button [matMenuTriggerFor]="display">
    @if (currentView == view.CARDS) {
    <span>Images</span>
    } @else if (currentView == view.TABLE) {
    <span>Tableau</span>
    }
  </button>

  <mat-menu #display="matMenu">
    <button mat-menu-item (click)="onSwitchView(view.CARDS)">
      <span>Images</span>
      @if (currentView == view.CARDS) {
      <mat-icon>check</mat-icon>
      }
    </button>
    <button mat-menu-item (click)="onSwitchView(view.TABLE)">
      <span>Tableau</span>
      @if (currentView == view.TABLE) {
      <mat-icon>check</mat-icon>
      }
    </button>
  </mat-menu>

  <mat-menu #sort="matMenu">
    @for (sort of sorts(); track $index) {
    <button mat-menu-item (click)="onSelectSort(sort)">
      <span>{{sort.label}}</span>
      @if (sort.direction == 'asc') {
      <mat-icon>arrow_upward_alt</mat-icon>
      } @else if (sort.direction == 'desc') {
      <mat-icon>arrow_downward_alt</mat-icon>
      }
    </button>
    }
  </mat-menu>
</div>