.mat-mdc-button {
  color: black !important;
  border: 1px solid black;
  background-color: #f9f9f9;

  &:hover {
    color: white !important;
    background-color: rgb(39, 39, 41);
  }
}

::ng-deep .mat-mdc-menu-item-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.small-icon {
  font-size: 18px;
  width: 18px;
  height: 18px;
  line-height: 1;
}