.image-container {
  width: 45px;
  /* Taille du cercle */
  height: 45px;
  border-radius: 50%;
  /* Rend l'image circulaire */
  overflow: hidden;
  /* Cache les bords dépassants */
  display: flex;
  border: 1px solid gray;
  /* Bordure optionnelle */
}

.image-container img {
  width: 100%;
  /* Ajuste l'image à la taille du conteneur */
  height: 100%;
  object-fit: cover;
  /* Coupe l'image pour remplir le cercle */
}