<h2 mat-dialog-title class="items-center justify-center gap-2">
  <span>{{'app.my_profile' | translate}}</span>
  @if (editMode) {
  <button mat-icon-button [matTooltip]="'app.validate' | translate" aria-label="Example icon button with a delete icon"
    color="accent" [disabled]="form.invalid || form.pristine" (click)="saveUser()">
    <mat-icon>check</mat-icon>
  </button>
  <button mat-icon-button [matTooltip]="'app.cancel' | translate" aria-label="Example icon button with a delete icon"
    color="accent" (click)="editMode=false">
    <mat-icon>close</mat-icon>
  </button>
  } @else {
  <button mat-icon-button [matTooltip]="'app.edit' | translate" aria-label="Example icon button with a delete icon"
    color="accent" (click)="editMode=true">
    <mat-icon>edit</mat-icon>
  </button>
  }
</h2>
<mat-dialog-content class="content-center">
  <mat-tab-group fitInkBarToContent>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-symbols-outlined mr-2">account_circle</mat-icon>
        {{'app.my_informations' | translate}}
      </ng-template>

      <div class="pt-4">
        @if (!editMode) {
        <div class="text-lg">
          <strong>{{'app.username' | translate}} :</strong>
          {{ data?.username }}
        </div>
        <div class="text-lg">
          <strong>{{'app.name' | translate}} :</strong>
          {{ data?.firstName }} {{ data?.lastName }}
        </div>
        <div class="text-lg"><strong>{{'app.mail' | translate}} :</strong> {{ data?.email }}</div>
        <div class="text-lg"><strong>{{'app.mail_verified' | translate}} :</strong> {{ data?.emailVerified }}</div>
        } @else {
        <form [formGroup]="form" class="flex flex-col gap-4">
          <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
            <mat-label>{{'app.username' | translate}}</mat-label>
            <input matInput [placeholder]="'app.username' | translate" formControlName="username">
            @if (usernameFormCtrl.hasError('required') && usernameFormCtrl.touched) {
            <mat-error>{{'app.required_username' | translate}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
            <mat-label>{{'app.firstname' | translate}}</mat-label>
            <input matInput [placeholder]="'app.firstname' | translate" formControlName="firstName">
            @if (firstnameFormCtrl.hasError('required') && firstnameFormCtrl.touched) {
            <mat-error>{{'app.required_firstname' | translate}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
            <mat-label>{{'app.lastname' | translate}}</mat-label>
            <input matInput [placeholder]="'app.lastname' | translate" formControlName="lastName">
            @if (lastnameFormCtrl.hasError('required') && lastnameFormCtrl.touched) {
            <mat-error>{{'app.required_lastname' | translate}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
            <mat-label>{{'app.mail' | translate}}</mat-label>
            <input matInput [placeholder]="'app.mail' | translate" formControlName="email">
            @if (emailFormCtrl.hasError('required') && emailFormCtrl.touched) {
            <mat-error>{{'app.required_email' | translate}}</mat-error>
            }
            @if (emailFormCtrl.hasError('email') && emailFormCtrl.touched) {
            <mat-error>{{'app.malformed_email' | translate}}</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="col-span-12 md:col-span-6 lg:col-span-4">
            <mat-label>{{'app.mail_verified' | translate}}</mat-label>
            <input matInput [placeholder]="'app.mail_verified' | translate" formControlName="emailVerified" readonly>
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </form>
        }
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon material-symbols-outlined mr-2">security</mat-icon>
        {{'app.my_password' | translate}}
      </ng-template>

      <div class="flex justify-center">
        <button mat-button class="mt-4" (click)="resetPassword(data.id)">{{'app.reset_password' | translate}}</button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'app.close' | translate}}</button>
</mat-dialog-actions>