@let user = data | async;

<h2 mat-dialog-title class="text-center">{{'app.user_informations' | translate}}</h2>
<mat-dialog-content class="content-center">
  <div class="text-lg"><strong>{{'app.id' | translate | uppercase}} :</strong> {{ user?.id }}</div>
  <div class="text-lg"><strong>{{'app.username' | translate}} :</strong> {{ user?.username }}</div>
  <div class="text-lg"><strong>{{'app.name' | translate}} :</strong> {{ user?.name }}</div>
  <div class="text-lg"><strong>{{'app.mail' | translate}} :</strong> {{ user?.email }}</div>
  <div class="text-lg"><strong>{{'app.mail_verified' | translate}} :</strong> {{ user?.emailVerified }}</div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>{{'app.close' | translate}}</button>
</mat-dialog-actions>