/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-paginator {
  border-top: 1px solid;
  background-color: white !important;
}

:root {
  @include mat.menu-overrides((container-color: white));

  @include mat.table-overrides((background-color: white));

  @include mat.button-overrides((filled-container-color: #2c2c2c,
      filled-label-text-color: black,
    ));

  @include mat.form-field-overrides((filled-container-color: white,
      filled-container-shape: 10px));

  @include mat.autocomplete-overrides((background-color: white));
}