/* You can add global styles to this file, and also import other style files */

/* Angular Material and custom SCSS */
@use "tailwindcss";
@use '@angular/material' as mat;
@use 'scss/accordion.scss' as *;
@use 'scss/autocomplete.scss' as *;
@use 'scss/button.scss' as *;
@use 'scss/checkbox.scss' as *;
@use 'scss/date-picker.scss' as *;
@use 'scss/form-field.scss' as *;
@use 'scss/paginator.scss' as *;
@use 'scss/select.scss' as *;
@use 'scss/stepper.scss' as *;
@use 'scss/table.scss' as *;
@use 'scss/tabs.scss' as *;
@use 'scss/theme.scss' as *;

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: 'Oswald', serif;
}

.mat-sidenav-container {
  background-color: inherit !important;
}

.dark {
  .mat-mdc-input-element::placeholder {
    color: var(--color-pmdb-white) !important;
    opacity: 1;
  }

  .mat-mdc-menu-item {
    svg {
      color: var(--color-pmdb-white) !important;
    }
  }

  .mat-select-search-input {
    background-color: var(--color-pmdb-grey) !important;
  }

  .mat-select-search-clear {
    &:hover {
      background-color: var(--color-pmdb-dark);
    }

    .mat-icon {
      color: var(--color-pmdb-white);
    }
  }

  .specific-class>.mat-expansion-indicator {
    svg {
      color: var(--color-pmdb-white) !important;
    }
  }

  .mat-mdc-checkbox-touch-target {
    background-color: var(--color-pmdb-grey) !important;
  }

  .mdc-checkbox>.mdc-checkbox__background {
    background-color: var(--color-pmdb-grey) !important;
  }
}

.mat-mdc-card-title {
  font-family: 'Oswald', serif !important;
}

.mat-mdc-dialog-title {
  font-family: 'Oswald', serif !important;
}

*,
::after,
::before,
::backdrop,
::file-selector-button {
  border: 0;
}

.mdc-text-field {
  background-color: white;
}

@include mat.autocomplete-overrides((background-color: white));

@include mat.button-overrides((filled-container-color: #2c2c2c,
    filled-label-text-color: black,
  ));

@include mat.card-overrides((outlined-container-color: white,
    outlined-outline-color: darkgray));

@include mat.checkbox-overrides((label-text-size: 20px,
    selected-icon-color: grey,
    selected-focus-icon-color: grey,
    selected-hover-icon-color: black,
    selected-hover-state-layer-color: grey));

@include mat.datepicker-overrides((calendar-container-background-color: white,
    calendar-date-today-outline-color: black,
    calendar-date-selected-state-background-color: black,
    range-input-separator-color: black,
    calendar-date-in-range-state-background-color: lightgrey));

@include mat.dialog-overrides((container-color: white,
    content-padding: 50px));

@include mat.expansion-overrides((container-background-color: white));

@include mat.form-field-overrides((outlined-focus-outline-color: black,
    outlined-focus-label-text-color: black,
    outlined-caret-color: black));

@include mat.menu-overrides((container-color: white));

@include mat.paginator-overrides((container-background-color: --color-pmdb-white));

@include mat.progress-spinner-overrides((active-indicator-color: black));

@include mat.select-overrides((panel-background-color: white,
    focused-arrow-color: black));

@include mat.sidenav-overrides((container-background-color: --color-pmdb-white));

@include mat.stepper-overrides((container-color: --color-pmdb-white,
    header-label-text-size: 18px,
    header-selected-state-label-text-size: 18px,
    header-label-text-color: darkgrey,
    header-icon-background-color: darkgrey,
    header-selected-state-label-text-color: black,
    header-selected-state-icon-background-color: black,
    header-edit-state-icon-background-color: darkslategrey));

@include mat.table-overrides((background-color: --color-pmdb-white));

@include mat.tabs-overrides((active-label-text-color: black,
    active-indicator-color: black,
    active-focus-indicator-color: black,
    active-hover-indicator-color: black,
    inactive-label-text-color: darkgrey,
    inactive-hover-label-text-color: darkgrey,
    label-text-size: 20px));

@include mat.toolbar-overrides((title-text-font: Oswald));