.dark {
  .mat-mdc-autocomplete-panel {
    background-color: var(--color-pmdb-grey) !important;

    .mat-mdc-option {
      color: var(--color-pmdb-white) !important;

      &:hover {
        background-color: var(--color-pmdb-dark) !important;
      }
    }
  }
}