.btn-danger {
  background-color: #e30000 !important;
  color: white !important;
}

.btn-secondary {
  background-color: darkgrey !important;
  color: white !important;
}

.btn-primary {
  background-color: #0071e3 !important;
  color: white !important;

  &:active {
    background-color: #006edb !important;
  }

  &:hover {
    background-color: #006edb !important;
  }

  &:disabled {
    color: lightgray !important;
    background-color: inherit !important;
  }
}

.btn-sm {
  height: 32px !important;
  width: 32px !important;
  // font-size: 16px;
  /* Taille du texte */
  // padding: 12px 24px;
  /* Hauteur et largeur */
  // min-width: 120px;
  /* Largeur minimale */
  // height: 48px;
  /* Hauteur fixe si besoin */
}