<div class="h-full">
  <div class="flex flex-row justify-between items-center">
    <h2></h2>
    <app-input class="md:w-1/3" label="Pays" [total]="total" (change)="onSearch($event)"></app-input>
    <div class="flex justify-end">
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" matTooltip="Tableau">
        <mat-icon class="material-symbols-outlined">table_rows</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Images">
        <mat-icon class="material-symbols-outlined">image</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a open in new tab icon" matTooltip="Trier">
        <mat-icon>sort</mat-icon>
      </button>
    </div>
  </div>

  <!-- Liste des pays -->
  <div class="h-[calc(100%-76px)] overflow-y-auto" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
    (scrolled)="onScroll()">
    <app-countries-list [countries]="countries$ | async"></app-countries-list>
  </div>
</div>