<div class="country-list-container">
  <!-- Search Input -->
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Pays</mat-label>
    <input matInput [(ngModel)]="searchTerm" placeholder="Rechercher..." />
    @if (searchTermSignal()) {
    <button matSuffix mat-icon-button aria-label="Clear" matTooltip="Effacer" (click)="clearSearch()">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <!-- Liste des pays -->
  <div class="card-container">
    @for (country of filteredCountries() | orderBy: ['nomFrFr']; track country.id) {
    <app-country-card [country]="country"></app-country-card>
    }
  </div>
</div>