@let persons = persons$ | async;

<div class="flex flex-col h-full">
  <div class="flex items-center justify-between mb-3">
    <div>
      <h2 [hidden]="total < 1" class="self-end dark:text-white text-xl">{{total}} {{'app.persons' | translate}}</h2>
    </div>
    @if (searchConfig$?.value?.criterias?.types?.length || searchConfig$?.value?.criterias?.countries?.length) {
    <app-criterias-reminder class="flex-1 w-3/4" [criterias]="searchConfig$.value.criterias"
      (deleteType)="onDeleteType($event)" (deleteCountry)="onDeleteCountry($event)">
    </app-criterias-reminder>
    }
    <app-toolbar [countries$]="countries$" [selectedCriterias]="searchConfig$?.value?.criterias"
      [criterias]="['birthDate', 'deathDate', 'types', 'countries', 'creationDate', 'lastUpdate']"
      [sorts]="sorts$ | async" [cookieName]="'persons-config'" (search)="onSearch($event)" (filter)="onFilter($event)"
      (switchView)="onSwitchView($event)" (sort)="onSort($event)">
    </app-toolbar>
  </div>

  @if (searchConfig$.value.view == view.GRID) {
  <div #scrollContainer class="grow overflow-y-auto" infiniteScroll [scrollWindow]="false" [infiniteScrollDistance]="1"
    [alwaysCallback]="true" (scrolled)="onScroll()">
    <app-persons-list [persons]="persons"></app-persons-list>
  </div>
  } @else {
  <div #tableContainer class="grow max-h-fit overflow-y-auto rounded-t-lg">
    <app-persons-table [dataSource]="persons" [sortActive]="searchConfig$.value.sort"
      [sortDirection]="searchConfig$.value.direction" (sort)="onSort($event)">
    </app-persons-table>
  </div>
  @if (persons?.length) {
  <mat-paginator #paginator class="rounded-b-lg dark:text-white!" [pageSizeOptions]="pageSizeOptions" [length]="total"
    [pageSize]="searchConfig$.value.size" [showFirstLastButtons]="true" (page)="onPageChange($event)"
    aria-label="Select page of Movie search results">
  </mat-paginator>
  }
  }
</div>