@use '@angular/material' as mat;

.form {
  @include mat.form-field-overrides((filled-container-color: white,
      filled-container-shape: 10px));
}

.mat-mdc-button {
  background-color: white;
  color: darkslategrey;
}