<form [formGroup]="form" class="form">
  <div formArrayName="awards" class="col-span-12">
    @for (award of formArray?.controls; track award; let i = $index) {
    <div class="grid grid-cols-12 gap-2" [formGroupName]="i">
      <!-- Champ cérémonie -->
      <mat-form-field class="col-span-3">
        <mat-label>{{'app.ceremony' | translate}}</mat-label>
        <input appDelayedInput (delayedInput)="onSearch($event)" matInput aria-label="State" [matAutocomplete]="auto"
          formControlName="ceremony">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAward($event)">
          @for (ceremony of ceremonies$ | async; track ceremony) {
          <mat-option [value]="ceremony">{{ceremony}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

      <!-- Champ nom -->
      <mat-form-field class="col-span-6">
        <mat-label>{{'app.name' | translate}}</mat-label>
        <input matInput formControlName="name" />
        @if (award.value.name) {
        <button matSuffix mat-icon-button matTooltip="Effacer" aria-label="Effacer le nom" (click)="clearName(i)">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

      <!-- Champ année -->
      <mat-form-field class="col-span-2">
        <mat-label>{{'app.year' | translate}}</mat-label>
        <input matInput type="number" min="0" formControlName="year" />
        @if (award.value.year) {
        <button matSuffix mat-icon-button matTooltip="Effacer" aria-label="Effacer l'année" (click)="clearYear(i)">
          <mat-icon>close</mat-icon>
        </button>
        }
      </mat-form-field>

      <button mat-icon-button class="col-span-1" [matTooltip]="'app.delete' | translate"
        aria-label="Example icon button with a delete icon" (click)="removeAward(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    }
    <button mat-button class="w-max mb-2" matTooltip="Ajouter" aria-label="Example icon button with a delete icon"
      (click)="addAward()">
      Ajouter une récompense
    </button>
  </div>
</form>