<mat-form-field class="w-full">
  <mat-label>{{label()}}</mat-label>
  <input appDelayedInput (delayedInput)="onSearch($event)" matInput aria-label="State" [matAutocomplete]="auto"
    [formControl]="formControl">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectActor($event)">
    @for (person of persons$ | async; track person.id) {
    <mat-option [value]="person">
      <div class="flex items-center gap-2">
        <span class="image-container">
          <img mat-card-image [src]="person.photoUrl$ | async" alt="{{ person?.photoFileName }}">
        </span>
        <span>{{person?.name}}</span>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>