<mat-form-field class="w-full">
  <mat-label>{{label()}}</mat-label>
  <input appDelayedInput (delayedInput)="onSearch($event)" matInput aria-label="State" [matAutocomplete]="auto"
    [formControl]="formControl">
  @if (toSave()) {
  <button matSuffix mat-icon-button matTooltip="Sauvegarder" aria-label="Sauvegarder l'acteur en base de données"
    (click)="saveActor()">
    @if (loading) {
    <mat-spinner [diameter]="20"></mat-spinner>
    } @else {
    <mat-icon class="text-red-700">save</mat-icon>
    }
  </button>
  }
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectActor($event)">
    @for (person of persons$ | async; track person.id) {
    <mat-option [value]="person">
      <div class="flex items-center gap-2">
        <span class="col-span-1 image-container">
          <img mat-card-image [src]="person.photoUrl$ | async" alt="{{ person?.photoFileName }}">
        </span>
        <span>{{person?.name}}</span>
      </div>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>